<table>

    
  <!--<tr>-->
  <!--  <th><%= f.label(:category_id, "Category") %></th>-->
  <!--  <td><%= f.select(:category_id, @categories.map {|s| [s.name, s.id]}) %></td>-->
  <!--</tr>-->

  <!--  <tr>-->
  <!--      <th><%= f.label(:category_id, "Category") %></th>-->
  <!--      <td><%= f.select(:category_id, @categories.map {|s| [s.name, s.id]}) %></td>-->
  <!--  </tr>-->
    <tr>
        <th >
            <%= f.label(:name, "New name ") %>
        </th>
        <td>
            <%= f.text_field(:name) %>
        </td>
        </div>
    </tr>
</table>