<% @page_title = "Edit Topic" %>

<div>
 
    <div class="panel panel-default" style="margin-top:5px;">
      <div class="panel-heading niceText" style="background: #333; color: #fff;">Update Topic</div>
      <div class="panel-body">
          <div style="margin-bottom:15px;">Please <strong>insert</strong> new name for topic: <span class="label label-primary"><%= @topic.name %></span></div>
          <%= form_for(:topic, :url => {:action => 'update', :id => @topic.id, :category_id => @category.id}) do |f| %>
          <%= render(:partial => "form", :locals => {:f => f}) %>      
      </div>
    </div>

      <div style="float:right;">
          <%= submit_tag("Update Topic") %>
      </div>
     
      <% end %>
   <button class="btn btn-default"><%= link_to("Back", {:category_id => @category.id, :action => 'index'}, :class => 'action index') %></button>
</div>