<% @page_title = "Topics" %>

<!--Link-->

<div>
    
     <div class="panel panel-default">
      <div id="topic-header" class="panel-heading">
         <h2>Topics <span id="topic-header-badge" class="badge badge-default">Category name: <%=@category.name %> </span> </h2> 
      </div> 
     <!--end topic-header-->
     </div>
     <!--end panel panel-default 0-->
     
      <div class="panel panel-default marginup15px">
        <div class="panel-heading niceTextSm" style="background: #333; color: #fff;">New Topic</div>
        <div class="panel-body"><button class="btn btn-default" style="float:left;"><%= link_to("New", {:action => 'new', :category_id => @category.id}, :class => 'action new') %></button></div>
      </div>
      <!--end panel panel-default 1-->
      
      <div class="panel panel-default marginup15px">
      
      	<div class="panel-heading niceTextSm" style="background: #333; color: #fff;">Current Topics</div>
      
        <div class="panel-body">

            <table class="table table-bordered" summary="Topic list">
 
                <% @topics.each do |topic| %>
                <tr>
                     <td><%= link_to(topic.name, {:controller => 'posts', :topic_id => topic.id}, :class => 'action index') %></td>
                     <td>
                         <button class="btn btn-default"> <%= link_to("Edit", {:action => 'edit', :id => topic.id, :category_id => @category.id}, :class => "action edit") %></button>
                         <button class="btn btn-default"> <%= link_to("Delete", {:action => 'delete', :id => topic.id, :category_id => @category.id}, :class => "action delete") %></button>
                     </td>
                </tr>
                <% end %>
     
            </table>    
        </div>
        <!--end panel-body-->
      </div>     
      <!--end panel-heading-->
    </div>
    <!--end panel-default-->
    <button class="btn btn-default"><%= link_to("Back", {:controller => 'categories', :action => 'index'}, :class => 'action index') %></button>
</div>