<% if !@category.name.include?('Staff') || session[:role] == 1 %>
<% @page_title = "New Topic" %>

<div>
 
    <div class="panel panel-default" style="margin-top:5px;">
      <div class="panel-heading niceText" style="background: #000000; color: #f74d28;">New Topic</div>
      <div class="panel-body">
          <div style="margin-bottom:15px;">Please <strong>insert</strong> name for new topic in category: <span class="label label-primary"><%= @category.name %></span></div>
          <%= form_for(:topic, :url => {:action => 'create', :category_id => @category.id}) do |f| %>
          <%= render(:partial => "form", :locals => {:f => f}) %>      
      </div>
    </div>

      <div style="float:right;">
          <%= submit_tag("New Topic") %>
      </div>
     
      <% end %>
   <button class="btn btn-default"><%= link_to("Back", {:category_id => @category.id, :action => 'index'}, :class => 'action index') %></button>
</div>
<% end %>