<% if !@category.name.include?('Staff') || session[:role] == 1 %>
<% @page_title = "New Topic" %>

<%# This is to create a new topic which a user should be able to do %>

<div>
 
 <%# This is the styling used in posts and topics  %>
 
    <div class="panel panel-default" style="margin-top:5px;">
      <div class="panel-heading niceGoogleFont" style="background: black; color: red;">New Topic
      </div>
      <div class="panel-body">
          <div style="margin-bottom:15px;">Please <strong>insert</strong> name for new topic in category: <span class="label label-primary"><%= @category.name %></span></div>
          <%= form_for(:topic, :url => {:action => 'create', :category_id => @category.id}) do |f| %>
          <%= render(:partial => "form", :locals => {:f => f}) %>      
      </div>
    </div>


<%# Submit tag to allow the user to add a new topic  %>
      <div style="float:right;">
          <%= submit_tag("New Topic", :class => 'backDeleteButton', id: 'send') %>
      </div>
    
      <% end %>
  
  <button class="btn btn-default" style="background-color:#d10006; color:white;"><%= link_to("Back", {:category_id => @category.id, :action => 'index'}, :class => 'redButtonsWhiteFont') %></button>
</div>
<% end %>