<% @page_title = "Posts" %>

  <h2><%= @topic.name %> (<%= pluralize(@posts.size, 'post') %>) </h2>
    <% @posts.each do |post| %>
      <div id = "post_content">
        <div id = "comments">
          <div id = "comment">
            <div class = "comment_content">
               <p><%= post.content %></p>
            </div>
          </div>
      </div>
      </div>
      <p class = "date">
        <%= time_ago_in_words(post.created_at) %>
        <button class = "button">
        <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') %>
        </button>
        <button class = "button">
        <%= link_to("Delete", {:action => 'delete', :id => post.id}, :class => 'action delete') %>
        </button>
      </p>
    <% end %>

