<% @page_title = "Posts" %>

<!--Link-->

<div>
    <div style="margin-top:20px; ,margin-bottom:10px;">
      <div style="margin-top:10px;">
      <% if !@topic.category.name.include?('Staff') || session[:role] == 1 %>
      <span class="btn btn-primary btn-uppercase" style="float:right; margin: 5px 5px 5px 5px; border-style:none; background-color:#930020; color:white;"><%= link_to("New post", {:action => 'new', :topic_id => @topic.id}, :class => ' redButtonsWhiteFont' ,:style => 'background-color:#930020; color:white') %></span>
      <% end %>
      </div>
      <div class="panel panel-default marginup15px">
      
      	<div class="panel-heading niceGoogleFont" style="background: black; color: red;"><%= @topic.name %></div>
      
        <div class="panel-body">
        <ul>
            <li style="list-style:none; ">
                <span class="column-wrapper">
                    <span class="col-xs-9 commentBoxes " style = "background: #a1baa0; border: 1px solid black; margin-top:4px;">Date Created: <%= distance_of_time_in_words(@topic.created_at, Time.now) %> ago<br></br><%= @topic.content %></br></br>Author: <strong style="font-style:italic;"><%= User.where(:id => @topic.user_id).pluck(:first_name)[0] %> <%= User.where(:id => @topic.user_id).pluck(:last_name)[0] %></strong></span>
                    <span class="col-xs-3">
                    </span>
                </span>
            </li>
            <% @posts.each do |post| %>
                <li style="list-style:none; margin-left:5px;">
                    <span class="column-wrapper">
                        <span class="col-xs-9 commentBoxes " id="" style = "border: 1px solid black; margin-top:4px;">Date Created: <%= distance_of_time_in_words(post.created_at, Time.now) %> ago<br></br><%= post.content %></br></br>Author: <strong style="font-style:italic;"><%= User.where(:id => post.user_id).pluck(:first_name)[0] %> <%= User.where(:id => post.user_id).pluck(:last_name)[0] %></strong></span>
                        <% if !@topic.category.name.include?('Staff') && User.where(:id => post.user_id).pluck(:id)[0] == session[:id] || session[:role] == 1 %>
                        <span class="col-xs-3" style=" margin-top:5px;">
                             <button class="btn btn-default" style="background-color:#d10006; color:white;"> <%= link_to("Edit", {:action => 'edit', :id => post.id, :topic_id => @topic.id}, :class => "redButtonsWhiteFont") %></button>
                             <button class="btn btn-default" style="background-color:#d10006; color:white;"> <%= link_to("Delete", {:action => 'delete', :id => post.id, :topic_id => @topic.id}, :class => "redButtonsWhiteFont") %></button>
                        </span>
                        <% end %>
                    </span>
                </li>
            <% end %>
        </ul>
        </div>
        
      </div>    
       <button class="btn btn-default" style="background-color:#d10006; color:white;"><%= link_to("Back", {:controller => 'topics', :category_id => @topic.category_id, :action => 'index'}, :class => 'redButtonsWhiteFont') %></button>
    </div>
    
    
   
</div>
