<% if !@topic.category.name.include?('Staff') || session[:role] == 1 %>
<% @page_title = "New Post" %>

<div>
 
    <div class="panel panel-default" style="margin-top:5px;">
      <div class="panel-heading niceText" style="background: #333; color: #fff;">New Post</div>
      <div class="panel-body">
          <div style="margin-bottom:15px;">Please <strong>insert</strong> content for new post in topic: <span class="label label-primary"><%= @topic.name %></span></div>
          <%= form_for(:post, :url => {:action => 'create', :topic_id => @topic.id}) do |f| %>
          <%= render(:partial => "form", :locals => {:f => f}) %>      
      </div>
    </div>

      <div style="float:right;">
          <%= submit_tag("New Post") %>
      </div>
     
      <% end %>
   <button class="btn btn-default"><%= link_to("Back", {:topic_id => @topic.id, :action => 'index'}, :class => 'action index') %></button>
</div>
<% end %>