<!DOCTYPE html>
<html>
  <head>
    <title>King's Connect | <%= @page_title || "Admin" %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= stylesheet_link_tag('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css') %>
    <%= stylesheet_link_tag('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') %>
    <%= stylesheet_link_tag('https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js') %>
    <%= stylesheet_link_tag('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') %>
    <%= stylesheet_link_tag('https://fonts.googleapis.com/css?family=Asap') %>
    

  </head>
  <body>
    <header class="main_header clearfix niceGoogleFont">
        <div class="wrapper">
            <div id="logo">
              <%= image_tag("kcl3.png", :style => "height:10%; width:10%; border-style:none;") %>
              <% unless session[:id] %>
              <%= link_to("King's Connect", {:controller => 'access', :action => 'index'}, :class => 'niceGoogleFontBold')%>
              <% else %>
              <%= link_to("King's Connect", {:controller => 'categories', :action => 'index'}, :class => 'niceGoogleFontBold')%>
              <% end %>
            </div> 
           
            
            <div>
           
            </div>
            <% if session[:id] %>
             <button class="btn btn-default niceGoogleFont " id="logoutbtn" style="float:right;"> <%= link_to("Log out", {:controller => 'access', :action => 'disconnect'}, :class => "applicationLogoutBtn") %>
            <% end %>
           <span class="" style="visibility: hidden;"></span>
             </button>
             <% if session[:id] %>
            <div class="niceGoogleFont" style="margin-top:5px; float:right;">
             <%= session[:name].split(", ")[1]%> <%= session[:name].split(", ")[0]%> 
            </div>
            <% end %>
        </div>
    </header>
    <div>
      
      <div id="myCarousel" class= "carousel slide" data-ride="carousel">
        <ol class="carousel-indicators niceGoogleFont">


        </ol>
        <div class = "carousel-inner" role="listbox"> 
          <div class= "item active niceGoogleFont">
             <%= image_tag("kcl2.png") %>
             <div class= "carousel-caption">
                 <h2 class="niceGoogleFont" > Welcome to the King's Connect Forum </h2>
                 <h3 class="niceGoogleFont" > This is a forum for King's College London students and staff </h3>
                 <br>
            </div>
           
          </div>
        
        <div class ="item">
          <%= image_tag("kcl2.png") %>
        </div>
        </div>
        
        
      </div>
      
      
      
    </div> <!--- End of slider  -->
    <div class="wrapper" style="margin-top:10px; margin-bottom:10px;">
      <% if !flash[:notice].blank? %>
        <div class="notice label label-primary niceGoogleFont" style="font-size: 16px;" >
          <%= flash[:notice] %>
        </div>
      <% end %>
        <%= yield %>
    </div>
    <div class="container-fluid niceGoogleFont" style="margin-top:10px; margin-bottom:10px;">
      
        <!--<footer>-->
    <!--  <p id="copyright"> Team Pistachio Copyright &copy; 2017</p>-->
    <!--</footer>-->
    </div>
  
  </body>
</html>