<!DOCTYPE html>
<html>
  <head>
    <title>Student's Connect | <%= @page_title || "Admin" %></title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= stylesheet_link_tag('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css') %>
    <%= stylesheet_link_tag('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') %>
    <%= stylesheet_link_tag('https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js') %>
    <%= stylesheet_link_tag('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') %>
  </head>
  <body>
    <header class="main_header clearfix">
        <div class="wrapper">
            <div id="logo">
              <p class="niceTextLarge">King's Connect</p>
            </div> 
        </div>
    </header>
    <div class="wrapper">
        <%= yield %>
    </div>
    <footer>
      <p id="copyright">&copy; Pistachio Team</p>
    </footer>
  </body>
</html>